extends layout

block content
    h1= title 
    form(method="POST" action="/new")
      div
        label(for="author") Author: 
        input(type="text" id="author" name="author")
      div
        label(for="message") Message: 
        input(type="text" id="message" name="message")
      div 
        button(type="submit") Submit